$color-main: #1154ed;
$color-sub: #88a9f6;

$color-white: #ffffff;

$color-light-grey: #f3f4f8;
$color-middle-grey: #dae1e9;
$color-dark-grey: #777a8d;

$color-font-black: #131416;
$color-font-dark-grey: #4b5767;
$color-font-grey: #777a8d;
